# Example of .env file
# Your file should be named .env and should be on the same level as the notebooks folder

# KEY OF OPENAI API
# Replace with your own API key
OPENAI_API_KEY="your-api-key"

# KEY OF LANGCHAIN API/ LANGSMITH API
# YOU SHOULD HAVE A LANGCHAIN ACCOUNT TO GET THE API KEY AND PROJECT ID (It's free)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"

# Replace with your own API key and project id
LANGCHAIN_API_KEY="yor-api-key"
LANGCHAIN_PROJECT="yor-project-id"